body {
    background-color: azure;
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

#simCanvas {
    display: block;
    border: 1px solid black;
    background: #555;
}