<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>- Graph Simulator G=(V,E) -</title> 
        <meta charset="utf-8" />
        
        <script src="/angular/angular.js"></script>
        <script src="/controllers/app.js"></script>
        <script src="/controllers/graph.controller.js"></script>
        <script src="/services/canvas.service.js"></script>
        <script src="/jquery/jquery.js"></script>
        <script src="/bootstrap/js/bootstrap.js"></script>
        
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    </head>
    
    <body>
       
        <!- form id="graphSpecs" ->
            <!- DropDownList: Graph Type ->
                <!- Option: Graph, G=(V,E) ->
                <!- Option: Tree, T=(V,E) ->
                <!- Option: Heap A[1..n] ->
            <!- CheckBox: Weighted / Unweighted Edges -->
            <!- CheckBox: Weighted / Unweighted Verticies -->
            <!- Input: Vertex Size ->
            <!- ColorChart: Vertex Colour ->
            <!- Button: Clear Canvas ->
        <!-/form ->

        <div class="container" ng-controller="GraphController as graphCtrl">
            
            <div class="row">
                
                <div class="col-md-12 text-center">
                    <h1>Visual Graph Simulator</h1>
                    <p class="lead">An Educational Tool</p>
                    <br /><br /><br />
                </div>
                
            </div> <!-- /row --> 
            
            <div class="row">   
                
                <div class="col-md-12 text-center">
                    <canvas id="simCanvas" ng-click="graphCtrl.canDraw && graphCtrl.addVertex($event)"></canvas> 
                </div>
                
            </div> <!-- /row --> 
            
            <div class="row"> 
                
                <div class="col-md-8">
                    <h3>Graph Options:</h3>
                    <form class="form-inline panel">
                        
                        <div class="row">
                            
                            <div class="form-group col-md-8">
                                <label for="graphType">Graph Type:</label>
                                <select class="custom-select" id="graphType">
                                    <option value="1" selected>Graph G=(V,E)</option>
                                    <option value="2" disabled>Tree T=(V,E)</option>
                                    <option value="3" disabled>Heap A[0..n]</option>
                                </select>
                            </div>

                            <div class="form-group col-md-4">
                                <label for="weightOp">Weighted Graph: </label>
                                <label class="form-check-inline">
                                    <input class="form-check-input" type="radio" name="weightOp" id="inlineRadio1" value="0" checked> No
                                </label>
                                <label class="form-check-inline">
                                    <input class="form-check-input disabled" type="radio" name="weightOp" id="inlineRadio2" value="1" disabled> Yes
                                </label>
                            </div>
                            
                        </div> <!-- /row --> 
                        <br />
                        
                        <div class="row">
                            
                            <div class="col-md-4">
                                <button type="button" class="btn btn-primary" ng-click="graphCtrl.canDraw = !graphCtrl.canDraw">Add Vertex</button>
                                <label ng-show="graphCtrl.canDraw">Adding Vertex</label>                          
                            </div>
                            
                            <div class="col-md-4">
                                <button type="button" class="btn btn-primary" ng-click="graphCtrl.addEdge()">Add Edge</button>
                                <label ng-show="false">Adding Edge</label>                        
                            </div>
                            
                            <div class="col-md-4">
                                <button type="button" class="btn btn-primary" ng-click="" disabled>Clear Graph</button>
                                <label ng-show="false">Graph Cleared!</label>                        
                            </div>
                            
                        </div> <!-- /row --> 
                        
                    </form>
                </div>
                
                <div class="col-md-4">
                    <h3>Graph Specs:</h4>
                    <div class="panel">
                        <h4>
                          <ul class="list-inline">
                            <li>V = { </li>
                            <li ng-repeat="v in graphCtrl.vertices.slice(1, graphCtrl.vertices.length)">{{v.id}}, </li>
                            <li> }</li>
                          </ul>
                        </h4>
                        <br />
                        
                        <h4>
                          <ul class="list-inline">
                            <li>E = { </li>
                            <li ng-repeat="e in graphCtrl.edges.slice(1, graphCtrl.edges.length)">({{e.v1.id}}, {{e.v2.id}}), </li>
                            <li> }</li>
                          </ul>
                        </h4>                       
                    </div>
                </div>
                
            </div> <!-- /row -->
            
        
            <br /><br /><hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="info text-center">
                        <h4 class="sub-title">Get Connected</h4>
                        <ul class="social-icons list-inline">
                            <li><a href="https://www.linkedin.com/in/cory-capps-16b965122"><i class="fa fa-linkedin"></i></a></li>   
                            <li class="last"><a href="mailto:ccappsdev@gmail.com"><i class="fa fa-envelope"></i></a></li>     
                            <li><a href="https://twitter.com/ccapps_dev" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.facebook.com/JSmitt999" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        </ul>
                    </div><!--//info-->
                </div>
            
            </div>
            
            
            <br /><br /><br />

        </div> <!-- /container -->
        
    </body>
</html>
