<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>- Graph Simulator G=(V,E) -</title> 
        <meta charset="utf-8" />
        
        <script src="/angular/angular.js"></script>
        <script src="/controllers/app.js"></script>
        <script src="/controllers/graph.controller.js"></script>
        <script src="/services/canvas.service.js"></script>
        <script src="/jquery/jquery.js"></script>
        <script src="/bootstrap/js/bootstrap.js"></script>
        
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    </head>
    
    <body>
        <div class="container" ng-controller="GraphController as graphCtrl">
            
            <h1>Graph Simulator</h1>
            <form id="graphSpecs">
                <!- DropDownList: Graph Type ->
                    <!- Option: Graph, G=(V,E) ->
                    <!- Option: Tree, T=(V,E) ->
                    <!- Option: Heap A[1..n] ->
                <!- CheckBox: Weighted / Unweighted Edges -->
                <!- CheckBox: Weighted / Unweighted Verticies -->
                <!- Input: Vertex Size ->
                <!- ColorChart: Vertex Colour ->
                <!- Button: Clear Canvas ->
            </form>
            <div class="container">
                <canvas id="simCanvas" ng-click="graphCtrl.addVertex($event)"></canvas>
            </div>
        </div>
    </body>
</html>
